@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes cod-pulse {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}



.cod-damage-overlay {
  animation: cod-pulse 7s ease-in-out forwards;
  background: radial-gradient(circle, transparent 50%, rgba(220, 38, 38, 0.6) 100%);
  position: fixed;
  inset: 0;
  z-index: 50;
  pointer-events: none;
}

.animate-shake {
  animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
}

/* Custom Scrollbar for pills */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}